<% provide(:title, 'All subjects') %>
<h1>All subjects</h1>

<%= will_paginate %>

<table class="subjects">
  <tr>
    <th>Subject name</th>
    <th>Total time</th>
    <th>Total question</th>
     <% if current_user.admin? && !current_user?(user) %>
      <th colspan="2">Funtions</th>
    <% end %>
  </tr>
  <% @subjects.each do |subject| %>
    <tr>
      <%= render subject %>
    </tr>
  <% end %>
</table>
<%= will_paginate %>